language: node_js
node_js:
  - '0.10'
  - '0.12'
  - 'iojs'
script: "gulp coverage"
after_success:
  - npm run coveralls
  - npm install -g codeclimate-test-reporter
  - codeclimate < coverage/lcov.info
